<%- include("partials/header");  %> 

<div class="ui main text container segment">
	<div class="ui huge header">New Blog</div>
	<form class="ui form" action="/blogs" method="POST">
		<div class="field">
			<label for="blogtitle">Title</label>
			<input type="text" name="blog[title]" placeholder="title" id="blogtitle">
		</div>
		<div class="field">
			<label for="blogimage">Image</label>
			<input type="text" name="blog[image]" placeholder="image url" id="blogimage">
		</div>
		<div class="field">
			<label for="blogbody">Blog Content</label>
			<textarea name="blog[body]" id="blogbody" cols="30" rows="10" placeholder="enter your blog content here" required></textarea>
		</div>
		<input class="ui primary button" type="submit">
	</form>
</div>

<%- include("partials/footer");  %> 
